{% extends 'base.html.twig' %}

{% block title %}Portfolio
{% endblock %}

{% block body %}

	<header>
		<div class="logo-text">
			<a href="{{ path('user_profile_index') }}">Portfolio</a>
		</div>
		<nav>
			<a id="modalBtn" href="#">Contact Me</a>
			{% if not app.user %}
				<a href="{{ path('app_login') }}">Login</a>
			{% endif %}
			{% if app.user %}
				<a href="{{ path('app_logout') }}">Logout</a>
			{% endif %}
		</nav>
	</header>

	<div id="contactModal" class="modal">
		<div class="modal-content">
			<span class="close">&times;</span>
			<div id="app"></div>
		</div>
	</div>

	<main>
		<div class="wrapper">
			<div class="left-section">
				<div class="circle">
					<img src="{{ asset('images/profile_pic.jpg') }}" alt="Profile pictures"/>
				</div>
				<div class="skills">
					<div class="title">
						Contacts
					</div>
					<div class="contacts">
						<a href="mailto:dovydas.zilinsk@gmail.com" class="contact-email">{{ user_profiles.email }}</a>
						<a href="https://www.linkedin.com/in/d-zilinskas/" target="_blank" class="contact-linkedin">{{ user_profiles.linkedin }}</a>
						<a href="https://github.com/DovydasZilinskas" target="_blank" class="contact-github">{{ user_profiles.github }}</a>
					</div>
				</div>
			</div>
			<div class="right-section">
				<div class="name">{{ user_profiles.name }}
					{{ user_profiles.surname }}</div>
				<div class="name-subtitle">{{ user_profiles.subtitle }}</div>
				<div class="title">Personal profile
					{% if app.user %}
						<div class="edit-show">
							<a href="{{ path('user_profile_edit', {'id': user_profiles.id}) }}">edit</a>
						</div>
					{% endif %}
				</div>
				<div class="description">{{ user_profiles.description }}</div>
				<div class="content-box">
					<div class="title">
						Work Experience
						{% if app.user %}
							<div class="edit-show">
								<a href="{{ path('work_experience_new') }}">Create new</a>
							</div>
						{% endif %}
					</div>
					{% for work_experience in work_experiences %}
						<div class="subtitle">
							{{ work_experience.position }}
							{% if app.user %}
								<div class="edit-show">
									<a href="{{ path('work_experience_edit', {'id': work_experience.id}) }}">edit</a>
								</div>
							{% endif %}
						</div>
						<div class="content">
							{{ work_experience.company }}
							| From
							{{ work_experience.dateFrom ? work_experience.dateFrom|date('Y-m-d') : '' }}
							- To
							{{ work_experience.dateTo ? work_experience.dateTo|date('Y-m-d') : '' }}
							<ul class="duty">
								{% for duty in work_experience.duty %}
									<li>{{ duty.duty }}</li>
								{% endfor %}
							</ul>
						</div>
					{% else %}
						<tr>
							<td colspan="9">no records found</td>
						</tr>
					{% endfor %}
				</div>
				<div class="content-box">
					<div class="title">Education
						{% if app.user %}
							<div class="edit-show">
								<a class="create-new" href="{{ path('school_new') }}">Create new</a>
							</div>
						{% endif %}
					</div>
					{% for school in schools %}
						<div class="subtitle">
							{{ school.institution }}
							{% if app.user %}
								<div class="edit-show">
									<a href="{{ path('school_edit', {'id': school.id}) }}">edit</a>
								</div>
							{% endif %}
						</div>
						<div class="content">
							{{ school.title }}
							| From
							{{ school.dateFrom ? school.dateFrom|date('Y-m-d') : '' }}
							- To
							{{ school.dateTo ? school.dateTo|date('Y-m-d') : '' }}
							<ul class="duty">
								{% for duty in school.duty %}
									<li>{{ duty.duty }}</li>
								{% endfor %}
							</ul>
						</div>
					{% else %}
						<tr>
							<td colspan="9">no records found</td>
						</tr>
					{% endfor %}
				</div>
			</div>
		</div>
	</main>

{% endblock %}
