{% extends 'base.html.twig' %}

{% block title %}UserProfile index{% endblock %}

{% block body %}
    <h1>UserProfile index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_profile in user_profiles %}
            <tr>
                <td>{{ user_profile.id }}</td>
                <td>{{ user_profile.name }}</td>
                <td>{{ user_profile.surname }}</td>
                <td>{{ user_profile.age }}</td>
                <td>
                    show

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Position</th>
                <th>Company</th>
                <th>date_from</th>
                <th>date_to</th>
                <th>List</th>
            </tr>
        </thead>
        <tbody>
        {% for experience in experiences %}
            <tr>
                <td>{{ experience.id }}</td>
                <td>{{ experience.position }}</td>
                <td>{{ experience.company }}</td>
                <td>{{ experience.date_from }}</td>
                <td>{{ experience.date_to }}</td>
                <td>
                    <ul>
                        <li>{{ experience.list_one }}</li>
                        <li>{{ experience.list_two }}</li>
                        <li>{{ experience.list_three }}</li>
                    </ul>
                </td>
                <td>
                    show

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
