{% extends 'base.html.twig' %}

{% block body %}
	{# {{ form_start(form) }}	 #}
	<div id="app"></div>
	{# <div class="wrapper">
		<a href="{{ path('user_profile_index') }}">Back</a>
		<div class="container">
			{{ form_row(form.fullName) }}
			<div class="contact-row">
				{{ form_label(form.email) }}
				{{ form_widget(form.email) }}
			</div>
			<div class="contact-row">
				{{ form_label(form.message) }}
				{{ form_widget(form.message) }}
			</div>
			<div class="contact-row">
				{{form_row(form.captcha)}}
			</div>
			<div class="contact-row">
				{{ form_row(form.submit)}}
			</div>

			{% for message in app.flashes('success') %}
				<div>
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div>
					{{ message }}
				</div>
			{% endfor %}
		</div>
	</div>
	{{ form_end(form) }} #}

	{% block javascript %}
		<script src="//www.google.com/recaptcha/api.js?hl=en"></script>
	{% endblock %}
	{% block stylesheets %}
		<link href="{{ asset('css/form.css') }}" rel="stylesheet"/>
	{% endblock %}

{% endblock %}

